/* #body{
    display: flex;
    flex-direction: column;
} */

body{
    position: relat;
}
.testing {
    margin-left: 200px; /* Same as the width of the sidenav */
    font-size: 20px; /* Increased text to enable scrolling */
    padding: 5vw 0 10vw 0;
    position: absolute;
  }