{
    box-sizing: border-box;
}
  
.Group-1 {
    display:flex;
    justify-content:space-evenly;
    flex-wrap:wrap;
}
    
.Group-1 > .product-card {
    background-color:rgb(0,255,255,0.25); 
    /*To help you visualize the size 
    of the product-card*/
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    flex-wrap: wrap;

    padding-left:20px;
    padding-right:20px;
    padding-top:20px;
    padding-bottom:20px;

    width: 15%;
    min-width: 300px;
 
    justify-self: center;
    border-radius: 25px;
    cursor: pointer;
    margin: 15px 0;
    transition: 0.2s ease;
}
    
.Group-1 > .product-card > img{
    width:100%;
    border-radius: 10px;
}

.product-card:hover{
    box-shadow: 5px 5px 30px var(--black-colour);;
  } 

  .product > .product-card > .product-info {
    text-align: start;
    padding: 10px 0;
  }