@import url(/A-Master-Styles/reset-styling.css);
@import url(/A-Master-Styles/master-styles.css);

:root {
  --primary-colour: #E14842;
  --secondary-colour: #F7E3A0;
  --teritary-colour:#464C7F;
  --black-colour: #191919;
  --white-colour: #FFF6D8;

  /* Headers & Sub-headers - Suisse Int'l Bold*/
  --type-pri: "suisse_intlbold", sans-serif;
  /* Paragraphs & Body- Suisse Int'l Reg*/
 --type-sec: "suisse_intlregular", sans-serif;
}

/* Fixed sidenav, full height */
.sidenav {
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--primary-colour);
    padding-left: 50px;
    padding-top: 14rem;
    z-index: -1;
}

/*acoustic guitar*/
.sidenav > #heading {
  color: white;
  padding-bottom: 50px;
}

#heading h1 {
  color: white;
  font-size: 40px;
  letter-spacing: 1px;
}

/* filter by, sort by*/
.sidenav > .sidebyside h2 {
  font-size: 30px;
  text-transform: uppercase;
  color: var(--secondary-colour);
  letter-spacing: 1px;
}

.sidenav > .sidebyside > .icon {
  width: 30px;
}

.sidenav > .sidebyside {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-right: 40px;
  padding-left: 10px;
}

/*clear*/
#clear_btn{
  font-family: var(--type-pri);
  letter-spacing: 1px;
  color: white;
  text-align: center;
  margin-top: 10px;
  border: 3px solid white;
  border-width: 2px;
}

#clear_btn:hover{
  color: var(--primary-colour);
  background-color: white;
  text-align: center;
  margin-top: 5px;
  border-width: 2px;
  transition: .3s;
}

/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn, .sorting-btn {
  padding: 8px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: var(--secondary-colour);
  font-family: var(--type-sec);
  line-height: 1.5rem;
  display: block;

  width:100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}
.dropdown-btn{
  color: black;
  font-family: var(--type-pri);
  padding: 10px;
  border: 5px solid var(--primary-colour);
  border-spacing: 10px;
  border-width: 10px 0 0 0;
  box-shadow: none;
  text-transform: capitalize;
}

/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
  color: var(--white-colour);
}

.dropdown-btn:hover {
  color: black;
}

/* Main content */
.main {
  margin-left: 350px; /* Same as the width of the side.sidesidenav */
  font-size: 20px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

/* Add an active class to the active dropdown button */
.active {
  background-color: var(--secondary-colour);
  color: var(--black-colour);
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  color: var(--secondary-colour);
  display: none;
  background-color: var(--primary-colour);
  padding-left: 20px;
  font-weight: 100;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
}
