@import url(/A-Master-Styles/reset-styling.css);
@import url(/A-Master-Styles/master-styles.css);

/* :root {
    --primary-colour: #E14842;
    --secondary-colour: #F7E3A0;
    --teritary-colour:#464C7F;
    --black-colour: #191919;
    --white-colour: #FFF6D8;
  }

  * {
    box-sizing: border-box;
  } */

.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 0 10px;
  }
  
  .column img {
    margin-top: 20px;
    vertical-align: middle;
    width: 100%;
  }

  .column img:hover {
    box-shadow: 10px -10px var(--secondary-colour);
    transition: .3s;
  }
  

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .column {
      -ms-flex: 50%;
      flex: 50%;
      max-width: 50%;
    }
  }

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
    }
  }