@import url(/A-Master-Styles/reset-styling.css);
@import url(/A-Master-Styles/master-styles.css);

:root {
    --primary-colour: #E14842;
    --secondary-colour: #F7E3A0;
    --teritary-colour:#464C7F;
    --black-colour: #191919;
    --white-colour: #FFF6D8;
  }

  * {
    box-sizing: border-box;
  }

body{
    background-color:var(--primary-colour);
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    /*check if it is working*/
}


#mutipleproduct {
    width: 100%;
    position: relative;
    left: 30px;
}


/*make space for the previous button*/
#empty {
    opacity: 0;
}

.single-pro-details {
    width: 45%;
    padding-top: 30px;
    position: absolute;
    top: 7rem;
    right: 0;
}

/*top heading*/

.single-pro-details h4{
    padding: 40px 0 10px 0;
    color: var(--white-colour);
}

.single-pro-details h1{
    font-size: 35px;
    line-height: 2.2rem;
    letter-spacing: 1px;
    color: var(--secondary-colour);
    font-weight: bold;
}

.single-pro-details > .des{
    width: 120%;
}

.single-pro-details > .des > .price{
    font-family: var(--type-sec);
    line-height: 1.8rem;
}

.single-pro-details > .des > .picksection{
    display: flex;
    justify-content: space-between;
    justify-self: top;
}

.single-pro-details h3{
    width: 85%;
    line-height: 1.8rem;
    font-family: var(--type-sec);
    text-transform: capitalize;
}


/*font*/

.single-pro-details h4{
    color: white;
    line-height: 30px;
    width: 90%;
    letter-spacing: .8px;
}

/*botton*/

#btn-redirect{
    padding-left: 2em;
    position: absolute;
    width: 90%;
    z-index: 1;
}

#btn-redirect > .btn-top-prev{
    font-family: var(--type-sec);
    color: var(--secondary-colour);
    padding-left: 130px;
    padding: 30px 30px 10px 100px;
    text-align: center;
    text-decoration: none;
    display: flex;
    margin: 2px 2px;
    cursor: pointer;
}

#btn-redirect > .trapezoidbtn-top-left{
    border-bottom: 50px solid var(--teritary-colour);
    border-left: 50px solid transparent;
    border-right: 0px solid transparent;
    height: 0;
    width: 180px;
    position: relative;
    left: 100px;
    bottom: 48px; 
    z-index: -1;

}

.btn{
    display: flex;
    width: 90%;
    justify-content: space-between;
}

.btn > .btn-add {
        border: 5px solid var(--secondary-colour);
        color: var(--secondary-colour);
        font-family: var(--type-sec);
        padding: 20px 70px 13px 70px;
        line-height: 1em;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 20px;
        margin: 2px 2px;
        cursor: pointer;
}

.btn > .btn-add:hover {
    background-color: var(--secondary-colour);
    border: 5px solid var(--secondary-colour);
    color: var(--black-colour);
    padding: 20px 70px 13px 70px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 2px 2px;
    cursor: pointer;
    box-shadow: 7px 7px var(--teritary-colour);
    transition: .3s;
}

.btn > .btn-direct {
    color: var(--secondary-colour);
    padding: 30px 80px;
    text-align: center;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    font-family: var(--type-sec);
    font-size: 20px;
    font-weight: 100;
    margin: 2px 2px;
    cursor: pointer;
}

.trapebtn{
    display: flex;
    justify-content: space-between;
    width: 90%;
    position: relative;
    bottom: 70px;
    z-index: -1;
}

.trapezoidbtn-left {
    border-bottom: 50px solid var(--teritary-colour);
    border-left: 50px solid transparent;
    border-right: 0px solid transparent;
    height: 0;
    width: 180px;
    transform: scaleY(-1);
}

.trapezoidbtn-right {
    border-bottom: 50px solid var(--teritary-colour);
    border-left: 50px solid transparent;
    border-right: 0px solid transparent;
    height: 0;
    width: 180px;
    transform: scaleY(-1);
    transform: rotate(180deg);
}


/*detail table*/
#table{
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 5px solid var(--secondary-colour);
    background-color: var(--primary-colour);
    font-size: 20px;
    line-height: 25px;
    text-align: left;
    padding: 1em 2em 1em;
    width: 90%;
}

#table > .title {
    color: white;
}

#table > .details {
    color: var(--secondary-colour);
    padding-left: 2em;
}
