@import url(/A-Master-Styles/reset-styling.css);
@import url(/A-Master-Styles/master-styles.css);

header{
    position: sticky;
    top: -45px;
}
.announcement{
    color: white;
    background-color: var(--colour-dark);
    font-size: small;
    height: 2vh;
    padding: 1rem;
    text-align: center;
}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1.5rem 7rem 0rem 7rem;
    position: relative;
    align-items: baseline;
    /* position: sticky; */
    background-color: var(--colour-light);
}
nav ul li{
    display: inline;
}
#menuItems li a{
    position: relative;
    top: -135%;
    padding: 1.53rem;
}
.menu-items{
    width: 60%;
    display: flex;
    justify-content: space-around;
}
.menu-items a, .menu-remainder a{
    color: black;
    font-family: var(--type-pri);
    text-transform: uppercase;
    display: inline;
    transition: 500ms;
}
.menu-items a:hover{
    color: var(--colour-light);
    background-color: var(--colour-mid); 
}
.icon-trio img{
    height: 25px;
    padding: 0.2rem 0.2rem 0rem 0.2rem;
    margin-bottom: 1rem;
}
.icon-trio img:hover{
    filter: invert(40%) sepia(13%) saturate(5636%) hue-rotate(329deg) brightness(93%) contrast(91%);
}
/* .icon-trio li{
    display: inline;
} */
.nav-each{
    width: 30px;
    /* grid-column: span 1; */
}
.shop-dropdown{
    display: none;
}
.show{
    visibility: visible;
    opacity: 1;
}
/* .icon-trio{
    display: inline; */

/* .logo{
    width: 5em; */

.hamburger{
    display: none;
}

h2{
    font-family: var(--type-pri);
    text-transform: uppercase;
}
h3{
    font-family: var(--type-pri);
    color: white;
    font-size: large;
    text-transform: uppercase;
    text-shadow: 0.1rem 0.1rem 0.15em black;
}
h4{
    font-family: var(--type-pri);
    color: var(--colour-light);
    font-size: large;
}
h5, p, .menu-items, .shop-items{
    font-family: var(--type-sec);
}
.centered {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.newin, .recent{
    height: 40vh;
    padding: 1.5rem 7rem;
}
.categories{
    display: flex;
    justify-content: space-around;
    padding: 1rem 3rem;
    position: relative;
}
.categories img{
    width: 16vw;
    /* background-color: aqua; */
    justify-content: center;
    position: relative;
}
img[alt~="shop-by-cat-image"] {
    width: 25vw;
}
img[alt~="electric-icon"]{
    left: 85%; top: 8%;
    transform: rotate(32deg);}
img[alt~="acoustic-icon"]{
    left: -90%; top: 10%;
    transform: rotate(-15deg);}
img[alt~="bass-icon"]{
    bottom: 7%; left: 15%;
    transform: rotate(-25deg);}
img[alt~="left-hand-icon"]{
    left: -20%; bottom: 2%;
    transform: rotate(45deg);}
img[alt~="parts-icon"]{
    left: 90%; bottom: 12%;
    transform: rotate(-50deg);}
img[alt~="misc-icon"]{
    left: -77%; bottom: 7%;
    transform: rotate(20deg);}

section.bio{
    display: flex;
    align-items: center;
    padding: 1.5rem 7rem;
    margin-left: 5%;
    margin-right: 5%;
}
.bio-image img{
    width: 90%;
    margin: 1rem 0rem;
    box-shadow: 0.8rem 0.8rem white;
}
.bio-text{
    width: 40%;
    line-height: 120%;
}

footer{
    display: flex;
    justify-content: space-between;
    background-color: var(--colour-light);
    padding: 1rem 7rem
    /* position: relative;
    justify-content: center; */
}
footer div{
    /* position: relative; */
    width: 20vw;
    padding:4%;
}
.up-to-date{
    width: 36%;
    display: block;
    justify-content: center;
    text-align: center;
}
footer div p{
    font-size: 0.6rem;
}
.shop-items a{
    line-height: 150%;
}
.socials-trio li{
    width:30px;
    display: inline-block;
}