@import url(/A-Master-Styles/reset-styling.css);
@import url(/A-Master-Styles/master-styles.css);

.navbar{
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    position: sticky;
    background-color: var(--colour-light);
    margin: 0;
}
nav li a{
    color: black;
    font-family: var(--type-pri);
    text-transform: uppercase;
    display: inline
}
nav li a:hover{
    color: var(--colour-light);
    background-color: var(--colour-mid); 
}
ul li{
    display: inline;
}
.shop-dropdown{
    display: none;
}
.show{
    visibility: visible;
    opacity: 1;
}
/* .icon-trio{
    display: inline; */

/* .logo{
    width: 5em; */

.hamburger{
    display: none;
}

h2{
    font-family: var(--type-pri);
    text-transform: uppercase;
}
h5{
    font-family: var(--type-sec)
}
p{
    font-family: var(--type-sec)
}

section.bio{
    display: flex;
    justify-content: space-around;
    padding:5%;
    margin-left: 5%;
    margin-right: 5%;
}
.bio-text{
    width: 30%;
}

footer{
    display: flex;
    justify-content: space-between;
    background-color: var(--colour-light);
}
footer div{
    width: 20%;
    padding:1%;
}
.socials{
    width:30px;
}