:root{
    --colour-dark: #474c81;
    --colour-mid: #e14842;
    --colour-light: #f7e3a0;

    /* Headers & Sub-headers - Suisse Int'l Bold*/
    --type-pri: "suisse_intlbold", sans-serif;
    --type-pri-header: 1rem;
     /* Paragraphs - Suisse Int'l Reg*/
    --type-sec: "suisse_intlregular", sans-serif;
}

/* Box model fix */
html{
    box-sizing: border-box;}
*, *:before, *after{
    box-sizing:inherit;}

/* Removes purple text color */
a:visited{ 
    color: inherit;
}

button{
    background-color: var(--colour-light);
    color: black;
    font-family: var(--type-pri);
    font-size: 1.2rem;
    text-transform: uppercase;
    padding: 1rem 3.3rem;
    border: none;
    box-shadow: 0.4rem 0.4rem var(--colour-dark);
    transition: 500ms;
    /* transition-property: all; */
}
button:hover{
    background-color: white;
    color: var(--colour-dark)
}