:root{
    --colour-dark: #474c81;
    --colour-mid: #e14842;
    --colour-light: #f7e3a0;

    /* Headers & Sub-headers - Suisse Int'l Bold*/
    --type-pri: "suisse_intlbold", sans-serif;
     /* Paragraphs - Suisse Int'l Reg*/
    --type-sec: "suisse_intlregular", sans-serif;
}